/* 
    Created on : 14-May-2017, 18:09:05
    Author     : Jordan
    Colors     : GunMetal - #233237 #EAC67A #D9B310
*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
h2 {letter-spacing: 2px; font-family: 'Amatic SC', cursive; font-weight: bold;}

.img-responsive
{
    margin: 0 auto;
}

#content {
    position: relative;
    z-index: 2;
}

.container-fluid {
    padding: 50px 20px; /* dont know why these are the numbers */
    background-color: white;
}

/*This is the container for the heading and button*/
.container-fluid_0 {
    padding-top: 100px;
    padding-bottom: 70px;
    padding-left: 200px;
    padding-right: 200px;
}

.container-fluid_0 h1{
    letter-spacing: 2px;
    font-family: 'Amatic SC', cursive;
    font-size: 90px;
    color: #0F1626;
}


strong {
    font-weight: bold;
}

body { 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0% 0%; 
}


header {
    color: black;
    background: #FF533D; /*#1abc9c*/
    background-size: cover;
    width:100%;
    height: 100%;
    overflow: hidden;
    top: 0px;
    left: 0px;
}

.bg-grey {
    background-color: #FEE05E;
}

.btn {
    letter-spacing: 1px;
    text-decoration: none;
    background: none;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    white-space: nowrap;
    font-size:14px;
    line-height:20px;
    font-weight:700;
    text-transform:uppercase;
    border: 3px solid;
    padding:8px 20px;
}

.btn-outlined {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-outlined.btn-theme {
    background: none;
    color: gray;
    border-color: gray;
    border-radius: 20px;
}

.btn-outlined.btn-theme:hover,
.btn-outlined.btn-theme:active {
    color: white;
    background: rgba(0,0,0,0.2);
    border-color: gray;
}

.btn-lg{
    font-size:40px;
    line-height:22px;
    border: 4px solid;
    padding:40px 40px;
}

#image_1
{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#image_1.show
{
    visibility:visible;
    opacity: 1.0;
}

#parallax
{
    background: url('../img/hex.png');
    background-attachment: fixed;
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 100%; }    
}
@media screen and (max-width: 769px){
    .container-fluid_0 h1 {font-size: 4em;}
    .container-fluid_0 {margin-top: 50px;
                        padding-left: 10px;
                        padding-right: 10px;}
    .btn {margin: 20px 0 0 0; }
    .btn-lg {font-size:30px;}
    section.primary {background-attachment: scroll;}
    #parallax {background-attachment: scroll;}
}

@media screen and (min-width: 1500px){
    .container-fluid_0 h1 { font-size: 10em; }
    .container-fluid_0 {margin-top: 150px;}
}