/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Nov-2017, 22:05:29
    Author     : Jordan
*/

.col-lg-12
{
    padding-top: 100px;
}

footer 
{
    color: white;
    background: black;
    padding: 20px 0 20px 0;
    border-top: 1px solid #000;    
}

footer a 
{
    color: #999;
}
footer a:hover 
{
    color: #efefef;
}
