.nav-bg {position: absolute; top: 0; left: 0; width: 100%; height: 300px; background-color: white;}
.navbar {padding-top: 15px;
      padding-bottom: 15px;margin-bottom: 0px; position: absolute; /*z-index: 3*/}
nav.navbar-fixed-top button.navbar-toggle > span.icon-bar { background: black; }
nav.navbar-fixed-top button.navbar-toggle { border: none; }
ul.nav li a, ul.nav li a:visited {
    color: black !important;
}

ul.nav li a:hover {
    background-color: rgba(0,0,0,0) !important;
}

.navbar-brand { position: relative; padding: 0; z-index: 3; top: 5px;}
.navbar-text {padding: 0; font-weight: bold; color: black !important}

.navbar .navbar-collapse { position: relative;}

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%;}
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

/* colors */

.navbar
{
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 0px;
}

.navbar .navbar-collapse .navbar-right > li { position: relative; font-family: 'Josefin Slab', serif; font-size: 25px; /*font-weight: bold;*/letter-spacing: 2px;} 


header .intro-text .name {
    display: block;
    font-family: 'Amaranth', sans-serif;
    font-size: 80px;
    color: black;
}

@media screen and (max-width: 767px) {
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0;}
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .navbar-brand {padding: 2px 5px 0 15px;}
}