
.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
/*.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}*/
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

#content {
    background: burlywood;
    position: relative;
    min-height: 0px;
    z-index: 2;
}

body {
    /*background: url('../img/dino.jpg');*/
    background: #ffffff;
}

footer 
{
    color: #666;
    background: #222;
    padding: 18px 0 18px 0;
    border-top: 1px solid #000;    
}
footer a 
{
    color: #999;
}
footer a:hover 
{
            color: #efefef;
}