/* 
    Created on : 17-Dec-2017, 21:56:37
    Author     : Jordan
*/

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 10;
    border: 2px solid gray;
    background-color: white;
    width: 40px;
    height: 38px;
    line-height: 28px;
    right: 20px;
    bottom: 20px;
    padding-top: 2px;
    border-radius: 10px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #cccccc;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.glyphicon {
    color: gray;
    line-height: inherit;
}