/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-May-2017, 19:24:45
    Author     : Jordan
*/

/********************************/
/*          Scroll bar          */
/********************************/
::-webkit-scrollbar {
    width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #333333; 
}

::-webkit-scrollbar-thumb:hover{
    -webkit-border-radius: 10px;
    background: rgb(0,0,0); 
}
::-webkit-scrollbar-thumb:window-inactive {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background: black; 
}
