/* 
    Created on : 14-May-2017, 18:09:05
    Author     : Jordan
    Colors     : GunMetal - #233237 #EAC67A #D9B310
*/
.img-responsive
{
    margin: 0 auto;
}

.hero {
    font-family: 'Lobster', cursive;
    margin: 0 auto;
    z-index: 3;
    color: black;
    text-align: center;
    /*text-shadow: 1px 1px 0 rgba(0,0,0,.75);*/
}
.hero h1 {
    font-size: 160px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 769px){
    .hero {margin: 60px auto}
    .hero h1 { font-size: 6em; }
    strong {position: absolute; left: 110px;}
}