/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/
.navbar {margin-top: 20px; margin-bottom: 0px;}
.navbar-nav>li>a {line-height: 101px; color: black;}
.navbar-text{position: relative; margin-top: 35px; z-index: 2; font-family: 'Josefin Slab', serif; color: black; font-size: 20px;}
.navbar-brand {z-index: 2;}

/*
Below code fixes the navbar back to normal styles
*/
@media (max-width: 767px) {
    .navbar-brand, .navbar-nav>li>a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

.content-wrapper{
    background-color: white;
    top: 100%;
    min-height: 12%;
    position:absolute;
    z-index: 2;
    width: 100%;    
}

header>.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar-brand { position: relative;}

.navbar-nav.navbar-right .btn { position: relative; z-index: 2; padding: 4px 20px; margin: 10px auto;}

.navbar .navbar-collapse { position: relative; }
.navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 22px; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; line-height: 101px;}
.navbar.navbar-default .nav-collapse { background-color: rgba(0,0,0,0); }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>li { float: right; }

.btn.btn-circle { border-radius: 50px; }
.btn.btn-outline { background-color: transparent; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; } 
    
    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

/* colors */

.navbar
{
    border: none;
    border-radius: 0px;
    z-index: 3;
    opacity: 0.9
}


.navbar .navbar-collapse .navbar-right li { font-family: 'Josefin Slab', serif; font-size: 18px; color: white;} 


header .intro-text .name {
    display: block;
    font-family: 'Amaranth', sans-serif;
    font-size: 90px;
    color: black;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    background: #333333; 
}

::-webkit-scrollbar-thumb:hover{
    -webkit-border-radius: 10px;
    background: rgb(0,0,0); 
}
::-webkit-scrollbar-thumb:window-inactive {
    -webkit-border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	background: black; 
}